:root {
    --clr-main: #006cb8;
    --clr-main-h: #0961a0;
    --clr-second: #7e7e7e;
    --clr-second-h: #5E5E5E;
}

body {
    background-color: #eee;
}
.form-cont {
    padding: 0;
}
.form-cont form {
    margin: 1rem 2rem;
    font-size: 1rem;
    display: flexbox;
}
.form-cont form .grid {
    row-gap: 2px;
    padding: 0px;
    margin: 0px;
}
.form-cont form input,
.form-cont form select {
    padding: 4px;
    font-family: sans-serif;
    font-size: 1.1rem;
}
.encabezado-form {
    background: var(--clr-main);
    color: white;
    padding: 1.5rem 2rem 1.2rem;
}
.tabla {
    width: 100%;
    border-spacing: 0px;
}
.tabla .headers td {
    padding: 8px;
    background: var(--clr-dark);
    color: #fff;
}
.tabla td {
    padding: 4px;
    text-align: center;
    border: 1px solid var(--clr-dark);
}
.tabla td {
    width: 20%;
}
.indicador {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--clr-dark);
    margin: 0 auto;
}
@media screen and (max-width: 576px) {
    .tabla {
        overflow-y: scroll;
    }
}
.btn-question {
    font-size: 1rem;
    color: white;
    background: #888;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease all;
}
.btn-question:hover {
    background: #444;
}
.btn-question.active {
    background: var(--clr-main);
}
.btn-question.active:hover {
    background: #444;
}
.modal-reference {
    position: relative;
}
.modal-simple {
    position: absolute;
    width: 650px;
    height: auto;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #555;
    bottom: 2rem;
    left: 0;
    transition: .3s ease all;
    display: none;
}
.modal-simple.active {
    display: inline;
}
.btn.with-icon {
    display: inline-flex;
}
.btn.with-icon img {
    width: 1.5rem;
    height: auto;
    margin: 0 0 0 0.25rem;
}