:root {
    --clr-main: #006cb8;
    --clr-main-h: #0961a0;
    --clr-second: #2b95e0;
    --clr-second-h: #4999d3;
}
    
body {
    background: #eee;
}
.main {
    width: 100vw;
    height: 100vh;
    padding: 0;
    display: flex;
}
.main > .menu {
    height: 100%;
    background: var(--clr-main);
    width: 15%;
    margin: 0;
}
.main > .contenedor {
    width: 85%;
    padding: 1rem;
    margin: 0px;
    overflow-y: scroll;
}
.menu .encabezado-m,
.menu .menu-icon {
    color: #fff;
    padding: 1rem 1rem;
    font-weight: 700;
}
.menu .menu-icon {
    text-align: center;
    font-size: 1.5rem;
    position: relative;
    cursor: pointer;
}
.menu .link {
    color: #fff;
    text-decoration: none;
    padding: 1rem 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    transition: 1s ease all;
}
.menu .link:hover,
.menu .link.activo {
    background: var(--clr-main-h);
}
.menu .link,
.menu #encabezado {
    transition: .3s ease all;
}
.menu .link.mostrar-menu,
.menu #encabezado.mostrar-menu {
    transform: translate(-200px, 0px);
}
.main > .menu.mostrar-menu {
    width: 5%;
}
.main > .contenedor.mostrar-menu {
    width: 95%;
    max-width: 100%;
}
.form-cont {
    padding: 0;
}
.login {
    width: 80%;
    max-width: 800px;
    margin: auto;
    padding: 0;
}
.login-img {
    width: 100%;
    overflow: hidden;
    background: var(--clr-main);
}
.login-img img{
    width: 80%;
    margin: 25% auto;
}
.form-cont form {
    margin: 1rem 3rem;
    font-size: 1rem;
}
.form-cont form .grid {
    row-gap: 2px;
    padding: 0px;
    margin: 0px;
}
.form-cont form input,
.form-cont form select {
    padding: 4px;
    font-family: sans-serif;
    font-size: 1.1rem;
}
.encabezado-form {
    background: var(--clr-main);
    color: white;
    padding: 1.5rem 2rem 1.2rem;
}
.tabla {
    width: 100%;
    border-spacing: 0px;
    border: 1px solid var(--clr-dark);
    border-top: none;
}
.tabla tr:nth-child(odd){
    background-color: #fff;
}
.tabla tr:nth-child(even){
    background-color: #ddd;
}
.tabla .headers td {
    padding: 8px;
    background: var(--clr-dark);
    color: #fff;
}
.tabla td {
    padding: 4px;
    text-align: center;
    width: 20%;
}
.tabla.solicitudes td {
    width: 16%;
}
.indicador {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--clr-dark);
    margin: 0 auto;
}
.btn-question {
    font-size: 1rem;
    color: white;
    background: #888;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s ease all;
}
.btn-question:hover { background: #444; }
.btn-question.active { background: var(--clr-main); }
.btn-question.active:hover { background: #444; }

.modal-simple {
    position: fixed;
    width: auto;
    height: auto;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #555;
    top: 5rem;
    left: 25%;
    right: 25%;
    transition: .3s ease all;
    visibility: hidden;
    opacity: 0;
    transform: scale(0, 0);
}
.modal-simple.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 1);
}
.btn.with-icon { display: inline-flex; }
.btn.with-icon img,
.toggle-btn.with-icon img {
    width: 1.5rem;
    height: auto;
    margin: 0 0 0 0.25rem;
    display: inline-flex;
}
/* Toggles */
.toggle-div {
    height: 50px;
    padding: 0;
    display: flex;
}
.toggle-btn {
    margin: 0;
    border: 1px solid var(--clr-dark);
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding: 0.75rem 1rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s all ease;
}
.toggle-btn.l {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.toggle-btn.r {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.toggle-btn.active {
    background: var(--clr-main);
    border: 2px solid var(--clr-dark);
}
#form-filtrar, #form-buscar {
    display: none;
}
#form-buscar.active, #form-filtrar.active {
    display: inline-block;
}
#form-buscar .input, #form-filtrar .input {
    width: 200px;
    height: 50px;
    margin-right: 1rem;
    border: 1px solid var(--clr-dark);
}

.img-error {
    width: 256px;
    height: auto;
}
#toggle-ordenar .btn {
    height: 50px;
}

.inline-flex > * { margin-right: 0.25rem; }
.inline-flex.l > * { float: left; }
.inline-flex.r > * { float: right; }
.preloader {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 35%;
    left: calc(50% - 35px);
    border: 10px solid #bbb;
    border-top: 10px solid var(--clr-main);
    animation-name: girar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes girar {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.bg-dark {
    background: var(--clr-dark);
}
.bg-second {
    background:var(--clr-second);
}
#ocultar-password {
    width: 32px;
    height: 20px;
    background-color: var(--clr-light);
    border: none;
    cursor: pointer;
}
#ocultar-password img {
    height: 100%;
    position: relative;
    top: 4px;
}
.m-min {
    margin: 1px;
}
.input:focus:invalid {
    border: 1px solid var(--clr-red);
}

@media screen and (max-width: 992px) {
    .login { width: 90%; }
    .inline-flex.r > * { float: left; }
    .tabla {
        display: block;
        overflow-y: auto;
    }
    .modal-simple {
        left: 15%;
        right: 15%;
    }
    .login-img img{
        width: 90%;
        margin: 20% auto;
    }
}
@media screen and (max-width: 576px) {
    .login { width: 100%; }
    .modal-simple {
        left: 5%;
        right: 5%;
    }
    .login-img img{
        width: 25%;
        margin: 1% auto;
    }
}

/* * {
    border: 1px solid #0f0;
} */