RewriteEngine On

#Redirección a página de errores
ErrorDocument 404 http://localhost/formulario-vacantes/vError.php?error=404
ErrorDocument 400 http://localhost/formulario-vacantes/vError.php?error=400
ErrorDocument 401 http://localhost/formulario-vacantes/vError.php?error=401
ErrorDocument 403 http://localhost/formulario-vacantes/vError.php?error=403
ErrorDocument 500 http://localhost/formulario-vacantes/vError.php?error=500

#Quitar PHP y html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]